.components_actionsButton {
  &.action-popover {
    .action-item {
      &:hover {
        cursor: pointer;
        background-color: $extra-light;
      }

      &:active{
        cursor: pointer;
        background-color: $light;
      }

      &.disabled {
        opacity: 0.65;
        color: $bodytext;

        &:hover {
          opacity: 0.8;
          background-color: unset;
        }
        &:active {
          background-color: $extra-light;
        }
      }
    }
  }
}
