.components_forms_components_customToggleButton {
  & .components_ripple:not(.disabled):hover {
    cursor: pointer;

    & .overlay {
      display: initial;
    }
  }

  & label.label-override {
    color: initial;
    position: initial;
    cursor: initial;
    top: initial;
    width: 100%;
    margin: 0;
    font-weight: initial;
    display: block;
    background-clip: border-box;
    background-color: var(--theme-body-color);
    position: relative;
    transition: background-color 0.2s ease;

    &.disabled {
      opacity: 0.38;
    }

    &.selected {
      background-color: #{$themecolor}14;

      & .selected-icon {
        opacity: 1;
      }

      & .overlay {
        background-color: #{$themecolor}0a;
      }
    }

    & .card {
      border-radius: 0.1rem;
      background: none;
      position: relative;
    }

    & .overlay {
      display: none;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.04);
      top: 0px;
    }
    & .selected-icon {
      opacity: 0;
      position: absolute;
      top: -36px;
      right: 10px;
      transition: opacity 0.2s ease;
    }
  }
}
