.payment-view-button {
  padding: 4px;
  background-color: var(--theme-sidebar-background-color);
  border: 1px solid transparent;
  border-radius: 0.25rem;

  &.unselected {
    &:hover {
      cursor: pointer;
      color: white;
      border: 1px solid white;
    }
  }
  
  &:focus {
    outline: none;
  }

  &.selected {
    background-color: var(--theme-color);
    color: white;

  }
}
