.components_toasts_error {
  margin: 0 auto;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 4px;
  height: 40px;
  background-color: white;
  text-align: center;
  padding: 5px;
  i {
    color: #f62d51 
  }
}
