#iavContainer {
  height: 1100px;
}

.spinner {
  display: block;
  margin: auto;
  width: 50px;
}

iframe {
  height: inherit !important;
}

/* Implement Dwolla's styles */
.dwolla-iav-text-box,
.dwolla-iav-button,
.dwolla-iav-header,
.dwolla-iav-text,
.dwolla-iav-link {
  font-family: $bodyfont;
  font-weight: 300;
  color: $bodytext;
}

.form-fields > div {

  & .field-validation-error {
    margin-top: 6px;
    padding: 0;
    position: absolute;
  }

  & .dwolla-iav-label {
    font-size: 12px;
  }
}

.yodlee-form .form-fields>div {
  margin-bottom: 2.5em !important;
}

.dwolla-iav-header {
  color: var(--theme-heading-text-primary);
  font-weight: 400;
  font-family: $headingfont;
  line-height: 36px;
  font-size: 24px;
}

.dwolla-iav-text-box {
  top: 10px;
  font-family: $bodyfont;
  font-weight: 400 !important;
  font-size: 16px;
  border: 1px solid $form-brd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
  color: var(--theme-text-primary);
  box-shadow: none;
  min-height: 27px;
  padding: 0 0 1px;

  &:focus {
    padding: 0;
    border: 2px solid var(--theme-color);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
  }

  & ~ .field-validation-error {
    color: $danger !important;
    font-size: 80% !important;
  }

  &.input-validation-error,
  &.warning {
    border-color: $danger !important;

    &:focus {
      padding: 0;
      border: 2px solid $danger;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-radius: 0;
    }
  }
}

.dwolla-iav-link {
    color: var(--theme-color);
    cursor: pointer;
}

.dwolla-iav-link:hover {
    color: var(--theme-color-dark);
}

.dwolla-iav-button {
  color: $white !important;
  border-radius: 0.25rem;
  padding: 7px 12px;
  font-size: 14px;
  cursor: pointer;
  background-color: var(--theme-color) !important;
  border: 1px solid var(--theme-color) !important;
}

.dwolla-iav-button:hover {
  background: var(--theme-color);
  opacity: 0.7;
  border: 1px solid var(--theme-color);
}

.dwolla-iav-button:active {
  background: var(--theme-color-dark);
}

.dwolla-iav-radio-selected {
  background-color: var(--theme-color);
}

#SearchTerm {
  margin-top: 10px;
}

.dwolla-iav-error,
.dwolla-iav-label {
  font-family: $bodyfont;
  color: $bodytext;
  font-weight: 400;
}
