.components_usersettings {
  .section-content {
    i {
      font-size: 1.5em
    }
  }
  .section-content {
    // margin-left: 1rem;
    h4 {
      color: rgb(75, 75, 75);
      margin-top: .25rem;
      margin-bottom: .25rem;
    }
  }
}
