.components_overviews_paymentCard {
  & .details-card {
    height: 100%;
  }

  & .status-card:not(.has-vCard) {
    height: 100%;
  }

  & .collapse-header {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    &:hover {
      cursor: pointer;
      color: var(--theme-color);

      & > i {
        color: initial;
      }
    }

  }
}
