.components_invoiceoverlaydropdown {
  position: absolute;

  .btn {
    background: none;
    box-sizing: border-box;
    z-index: 3;
    position: absolute;
    border-radius: 100px;
    border-width: 0;
  }
  .border-primary {
    border-width: 2px;
  }
  .btn:hover, .focused {
    background-color: rgba(5,174,221,0.5);
  }
}