.components_clicktocopytextwrapper {
  width: fit-content;

  .copy-text-hover {
    cursor: pointer;
  }

  & .cc-tooltiptext {
    background-color: $muted;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 4px 3px;
    opacity: 1;
    transition: opacity 0.3s;
    white-space:nowrap;

    &::after {
      content: "";
      position: absolute;
      right: 100%;
      top: 50%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent $muted transparent transparent;
    }
  }
}
