.components_toasts_success {
  margin: 0 auto;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 4px;
  height: 40px;
  background-color: white;
  text-align: center;
  padding: 5px;
  i {
    color: #05AEDD;
  }
}
