.components_tables_components_paginateWrapper {
  .paginate_table {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dee2e6;
  }

  .paginatedTable_paginate {
    margin: 0 !important;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */    

    .paginate_page {
      display: inline;
    }

    .paginate_button {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      padding: 0.25em 0.75em;
      margin-left: 1.5px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      color: #54667a;
      border: 1px solid transparent;
      border-radius: 2px;
      
      &:hover {
        color: white;
        border: 1px solid $muted;
        background-color: $muted;    
      }

      &:active {
        outline: none;
        color: white;
        background-color: $muted;
      }

      &:focus {
        outline: none;
        color: white;
        background-color: $muted;
      }

    }

    .paginate_page.current {
      .paginate_button {
        &, &:hover {
        color: #ffffff;
        border: 1px solid var(--theme-color);
        background-color: var(--theme-color);
        }
      }
    }

    .paginate_page.disabled {
      .paginate_button {
        &, &:hover, &:active {
          cursor: default;
          color: #54667a;
          border: 1px solid transparent;
          background: transparent;
          -webkit-box-shadow: none;
          box-shadow: none;
          opacity: 0.5;
        }
      }
    }

    .ellipsis {
      padding: 0;
      margin-left: 1px;  
    }
  }
}
