.components_integrationManager {
  & .column {
    @media (min-width: 991px) {
      height: 450px;

      & .integration-tab-content {
        // should be 55px less than overall height defined above
        height: 395px;

        &.no-top-padding .card-body {
          padding-top: 0px;
        }
      }
    }
  }

  & .overflow-container {
    overflow-y: scroll;
  }

  & .control-button {
    position: fixed;
    z-index: 80;

    // Large devices (desktops, less than 1200px)
    @media (min-width: 991px) {
      left: 212px;
    }

    bottom: 10px;
    left: 10px;
  }

  & .content {
    position: fixed;
    z-index: 80;
    bottom: 75px;
    left: 215px;
    width: 70%;

    // small devices
    @media (max-width: 991px) {
      width: 90%;
      left: 15px;
      height: 79.5%;
      bottom: 70px;

      & .card {
        overflow-y: scroll;
        height: 100%;
      }
    }

    & .card {
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    }
  }

  & .menu-container {
    &.mobile-shown {
      display: block;

      @media (min-width: 991px) {
        display: none;
      }
    }
    &.mobile-hidden {
      display: none;

      @media (min-width: 991px) {
        display: block;
      }
    }
  }

  .splash-logo {
    @media (max-width: 991px) {
      margin-bottom: 30px;
      margin-top: 50px;
    }
  }

  .menu-small-cap {
    display: block;
    font-size: 12px;
    padding: 14px 14px 14px 5px;
    font-weight: 500;
    color: $muted;
  }
}
