.components_virtualcard {
  .components_virtualcard_mastercard,
  .components_virtualcard_visa {
    .one-edge-shadow {
      box-shadow: 9px 9px 10px -6px black;
    }
  
    .blur-text {
      color: transparent;
      text-shadow: 0 0 15px rgba(0,0,0,0.5);
    }
  
  
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #E9ECEF;
      border-radius: 12px;
      cursor: pointer;
      z-index: 20;
    }
  
    &:hover {
      .overlay {
        opacity: 0.5;
      }
    }

  }
}
