.components_uploaders_components_table {
  .pointer {
    cursor: pointer;
  }

  .badge {
    padding: 0.35em 0.6em;
  }

  .responsive.table {
    margin-bottom: 0;
    th span {
      font-weight: bold;
    }

    td {
      white-space: normal;
    }

    th {
      white-space: nowrap;
    }

    & > tr > th {
      border-top: 1px solid #dee2e6;
    }

    td,
    th {
      vertical-align: middle;
      padding: 0.3rem;
      @media (min-width: 991px) {
        padding: 0.75rem;
      }
      .mdi-chevron:before {
        content: "\00a0\00a0\00a0\00a0";
      }
    }
    .small {
      font-size: 85%;
      @media (min-width: 991px) {
        font-size: 100%;
      }
    }
    .collapsableRow > td {
      padding: 0;
      border: 0;
      // overflow: hidden;
      overflow: visible;
    }
  }

  .paginate_table {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dee2e6;
  }

  .paginatedTable_paginate {
    margin: 0 !important;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */

    .paginate_page {
      display: inline;
    }

    .paginate_button {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      min-width: 1.5em;
      padding: 0.5em 1em;
      margin-left: 1.5px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      *cursor: hand;
      color: #54667a;
      border: 1px solid transparent;
      border-radius: 2px;

      &:hover {
        color: white;
        border: 1px solid $muted;
        background-color: $muted;
      }

      &:active {
        outline: none;
        color: white;
        background-color: $muted;
      }

      &:focus {
        outline: none;
        color: white;
        background-color: $muted;
      }
    }

    .paginate_page.current {
      .paginate_button {
        &,
        &:hover {
          color: #ffffff;
          border: 1px solid var(--theme-color);
          background-color: var(--theme-color);
        }
      }
    }

    .paginate_page.disabled {
      .paginate_button {
        &,
        &:hover,
        &:active {
          cursor: default;
          color: #54667a;
          border: 1px solid transparent;
          background: transparent;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
    }

    .ellipsis {
      padding: 0;
      margin-left: 1px;
    }
  }

  &.table-scroll-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: visible;

    &.nested-table {
      overflow-x: hidden !important;
    }

    svg {
      vertical-align: middle;
      overflow: hidden;
    }

    img {
      vertical-align: middle;
      overflow: hidden;
    }
  }

  .popover-cell {
    &.disabled {
      opacity: 0.5;
    }
    &:not(.disabled):hover {
      cursor: pointer;
      background-color: $extra-light;
      background-clip: content-box;
    }
    &:not(.disabled):active {
      cursor: pointer;
      background-color: $light;
      background-clip: content-box;
    }
  }

  &.action-popover {
    .action-item {
      &:hover {
        cursor: pointer;
        background-color: $extra-light;
      }

      &:active {
        cursor: pointer;
        background-color: $light;
      }

      &.disabled {
        opacity: 0.65;
        color: $bodytext;

        &:hover {
          opacity: 0.8;
          background-color: unset;
        }
        &:active {
          background-color: $extra-light;
        }
      }
    }
  }

  .actionRow {
    & td {
      padding: 0 !important;
    }

    & .action-button {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;

      &.first {
        padding-left: 0.75rem;
      }

      &.last {
        padding-right: 0.75rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
