.components_card {
  &.card {
    &.card-with-label {
      position: relative;

      & .card-label {
        position: absolute;
        top: -12px;
        left: 5px;
        background-color: var(--theme-body-content-color);
        margin: 0;
      }
    }

    & .small-padding {
      padding: 0.5rem;
    }
  }
}
