.components_integrationcomps_cardsIntegration_GALILEO_forms_fundingProvider {
  .components_forms_components_radio {
    display: flex;
    justify-content: center;
    label {
      margin-top: 1rem;
    }
  }
}