.components_cards_csrcontextsearch {
  & .context-search {
    background-color: var(--theme-header-border-color);
  }

  & .organization-item {
    cursor: pointer;
  }

  & .items-scroll-container {
    overflow-y: scroll;
    max-height: 620px;
  }

  & .account-item {
    &:not(.disabled) {
      cursor: pointer;
  
      &:hover {
        background-color: var(--theme-header-border-color);
      }
  
      &.selected {
        color: var(--theme-color);
        cursor: default !important;
      }
    }

    &.disabled {
      opacity: 0.8;
    }
  }

  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
