.components_routes_create {
    #qb-link {
        font-weight: 500;
        color: #337ab7 !important;
        cursor: pointer;
        }
        
        #qb-link:hover {
        color: #214c72 !important;
        }
}
