.components_forms_payment {
  .hideDisplay {
    display: none;
  }

  .card-label {
    background-color: var(--theme-body-color);
  }

  .line-item-card-body {
    position: relative;

    & .add-line-item-button {
      position: absolute;
      bottom: 20px;
    }

  }
}
