.components_ripple {
  position: relative;
  overflow: hidden;

  & .rippleContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  & .rippleContainer span {
    transform: scale(0);
    border-radius: 100%;
    position: absolute;
    opacity: 0.16;
    background-color: var(--theme-color);
    // opacity: 0.7;
    // background-color: white;
    animation: ripple 850ms;

    // &.ripple-primary {
    //   background-color: var(--theme-color);
    // }
  }

  @keyframes ripple {
    to {
      opacity: 0;
      transform: scale(2);
    }
  }
}
